.letter-content {
    padding: 15px;
    opacity: 1; /* Начальное значение */
    transition: opacity 0.5s ease; /* Плавный переход */

}
.dark-theme .envelope {
    border: 3px solid var(--pink);
    animation: neon-pulse 1.5s infinite; /* Применяем анимацию */
}
.fade-in {
    opacity: 1; /* Анимация входа */
}
.fade-out {
    opacity: 0; /* Анимация выхода */
}

@media screen and (max-width: 480px) {
    .envelope {
        width: 450px;
        margin: 20px auto;
        border: 3px solid var(--pink);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

}
@media screen and (max-width: 1040px) {
    .envelope {
        width: 800px;
        margin: 20px auto;
        border: 3px solid var(--pink);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

}
@media screen and (min-width: 1040px) {
    .envelope {
        width: 900px;
        margin: 20px auto;
        border: 3px solid var(--pink);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

}