:root {
  --orange: #ff7f50;
  --pink: #c86898;
  --black: #000000;
  --white: #ffffff;
  --teal: #008080FF;
}

@keyframes neon-pulse {
  0%, 100% {
    box-shadow: 0 0 20px var(--pink), 0 0 30px var(--pink);
  }
  50% {
    box-shadow: 0 0 40px var(--pink), 0 0 50px var(--pink);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.dark-theme {
  background: var(--black);
  color: var(--white);
}

.light-theme {
  background: var(--white);
  color: var(--black);
}

.block {
  overflow: hidden;
  height: 100%;
}

.button {
  width: 15%;
  height: 40px;
  padding: 3px;
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.pink {
  background: var(--pink);
  color: var(--white);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal.show {
  display: block; /* Отображается, когда добавлен класс show */
}


.modal-content {
  border: 3px solid var(--pink);
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 10px;
}

.dark-theme .modal {
  background-color: rgba(255, 255, 255, 0.1); /* полупрозрачный черный фон */
}

.dark-theme .modal-content {
  border: 3px solid var(--pink);
  background-color: var(--white); /* черный фон для темной темы */
  color: var(--black); /* белый текст для темной темы */
  animation: neon-pulse 1.5s infinite; /* Применяем анимацию */
}

.dark-theme .close {
  color: var(--black); /* белый цвет для иконки закрытия */
}




/* Уникальный стиль для конкретного экземпляра WishCard с id="finally-text" */
#finally-text {
  top: 0;
}

@media screen and (min-width: 1040px) {

  .container {
    width: 1200px;
    margin: 0 auto;
  }
  #finally-text .modal-content {
    position: fixed;
    top: -100px;
    left: 15%;
    font-size: 0.8rem;
    max-width: 70%;
    max-height: 80%;
    color: var(--black);
    overflow: scroll;
  }

  #finally-text .close {
    margin-left: 10px;
  }
  p {
    font-size: 40px;
    max-width: 800px;
    margin: 5px auto;
    font-weight: 500;
  }

  span {
    font-size: 18px;
  }
}



@media screen and (max-width: 480px) {

  #finally-text {
    width: 100%;
  }

  #finally-text .modal-content {
    margin: 80px auto;
    font-size: 0.8rem;
    width: 95%;
    max-height: 80%;
    color: var(--black);
    overflow: scroll;
  }
  .container {
    width: 470px;
    margin: 0 auto;
  }
  p {
    font-size: 20px;
    max-width: 470px;
    margin: 5px auto;
    font-weight: 500;
  }

  span {
    font-size: 18px;
  }

}

@media screen and (max-width: 1040px) {

  .container {
    width: 900px;
    margin: 0 auto;
  }

  #finally-text {
    width: 100%;
  }

  #finally-text .modal-content {
    margin: 80px auto;
    font-size: 0.8rem;
    width: 95%;
    max-height: 80%;
    color: var(--black);
    overflow: scroll;
  }
  p {
    font-size: 30px;
    max-width: 700px;
    margin: 5px auto;
    font-weight: 500;
  }

  span {
    font-size: 18px;
  }
}
